a {
    text-decoration: none;
    color: grey;
}

a:visited {
    color: grey;
}

li {
    list-style-type: none;
}

.posts_list {
    padding-left: 3px;
}

.comments_list {
    padding-left: 17px;
}

.post_links:visited {
    color: purple;
}

.arrows {
    cursor: pointer;
    font-size: 24px;
}

.voted_up {
    color: orange!important;
}

.voted_down {
    color: blue!important;
}

.version {
    font-size: 22px;
}

#sort_order {
    width: 80px!important;
}
