a {
    text-decoration: none;
    color: grey;
}

a:visited {
    color: grey;
}

li {
    list-style-type: none;
}

.posts_list {
    padding-left: 3px;
    margin-top: 1rem;
}

.comments_list {
    padding-left: 17px;
}

.post_links:visited {
    color: purple;
}

.arrows {
    cursor: pointer;
    font-size: 24px;
}

.voted_up {
    color: orange!important;
}

.voted_down {
    color: #00fcff!important;
}

.version {
    font-size: 22px;
}

#sort_order {
    width: 80px!important;
}

@media (max-width: 767px) {
    body, .btn, .arrows, .post_links, .vote_count, .col-xs-6 > .h5, .h4 {
        font-size: 0.8rem;
    }
    .navbar-brand {
        font-size: 1.15rem;
    }
}

.replies {
    margin-left: 15px;
}